* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #2e465e, #8391a2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  height: 430px;
  width: 430px;
  background: #a2dfc1;
  border-radius: 50%;
  position: relative;
}

.clock::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 19;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.clock .number {
  --rotation: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.75rem;
  line-height: 6vh;
  font-family: Helvetica;
  text-align: center;
  transform: rotate(var(--rotation));
}

.clock .number1 {
  --rotation:30deg;
}
.clock .number2 {
  --rotation:60deg;
}
.clock .number3 {
  --rotation:90deg;
}
.clock .number4 {
  --rotation:120deg;
}
.clock .number5 {
  --rotation:150deg;
}
.clock .number6 {
  --rotation:180deg;
}
.clock .number7 {
  --rotation:210deg;
}
.clock .number8 {
  --rotation:240deg;
}
.clock .number9 {
  --rotation:270deg;
}
.clock .number10 {
  --rotation:300deg;
}
.clock .number11 {
  --rotation:330deg;
}
.clock .number12 {
  --rotation:0deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid #becac1;
  border-radius: 10px 10px 0 0;
  transform-origin: bottom;
  z-index: 3;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.clock .hand.hour {
  width: 9px;
  height: 45%;
  background-color: black;
}
.clock .hand.minute {
  width: 7px;
  height: 35%;
  background-color: brown;
}
.clock .hand.second {
  width: 5px;
  height: 40%;
  background-color: #362bff;
}