* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #2e465e, #8391a2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  height: 430px;
  width: 430px;
  background: #a2dfc1;
  border-radius: 50%;
  border: 3px solid black;
  position: relative;
}

.number {
  --rotation: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 19px;
  font-family: sans-serif;
  line-height: 35px;
  text-align: center;
  transform: rotate(var(--rotation));
}

.number1 {
  --rotation:30deg;
}
.number2 {
  --rotation:60deg;
}
.number3 {
  --rotation:90deg;
}
.number4 {
  --rotation:120deg;
}
.number5 {
  --rotation:150deg;
}
.number6 {
  --rotation:180deg;
}
.number7 {
  --rotation:210deg;
}
.number8 {
  --rotation:240deg;
}
.number9 {
  --rotation:270deg;
}
.number10 {
  --rotation:300deg;
}
.number11 {
  --rotation:330deg;
}
.number12 {
  --rotation:0deg;
}
